---
import NormalLayout from "@layouts/NormalLayout.astro";
---

<NormalLayout>
	<h1 class="text-3xl font-extrabold leading-none tracking-tight text-blue">
		Mehmet Salih Yavuz
	</h1>
	<p class="">
		Hello and Welcome to my corner of the web. I am Salih, a fullstack
		developer. There is a terminal version of this website you can access
		from top right corner.
	</p>
	<p>Some things about me:</p>
	<p>
		I am a fullstack developer with 3 years of experience in freelance work.
	</p>
	<div>
		I started out with C++ in college but branched out pretty quickly. Now i
		consider myself proficient in multiple languages such as:
		<ul class="ml-8 list-inside list-disc">
			<li>Typescript/Javascript</li>
			<li>Python</li>
			<li>Go</li>
		</ul>
	</div>
	<p>
		Currently i am learning Elixir and Phoenix along with functional
		programming paradigms. (GenServers everywhere)
	</p>
	<p>
		I worked with variety of web frameworks (even Spring and Angular) but i
		prefer Svelte or Solid if i have a say in it.
	</p>
	<p>
		I daily drive Linux (wm's and the whole shebang) with Neovim and i live
		in the terminal, hence the terminal website.
	</p>
</NormalLayout>
