---
import { Icon } from "astro-icon/components";
import Navlink from "./Navlink.astro";
---

<nav class="mt-0 flex justify-center">
    <ul class="flex w-full items-center justify-around font-bold lg:w-1/2">
        <li>
            <Navlink href="/normal/">Home</Navlink>
        </li>
        <li>
            <Navlink href="/normal/projects/">Projects</Navlink>
        </li>
        <li>
            <Navlink href="/normal/blog/">Blog</Navlink>
        </li>
        <li>
            <Navlink href="/">
                <Icon
                    name="lucide:terminal"
                    class="text-2xl"
                    aria-hidden="true"
                />
                <span class="sr-only">Terminal Website Link</span>
            </Navlink>
        </li>
    </ul>
</nav>
