---
import { Icon } from "astro-icon/components";

interface Props {
    title: string;
    href: string;
}

const { title, href } = Astro.props;
---

<div
    class="flex max-h-max flex-col justify-between gap-8 rounded-lg p-4 shadow-md transition-all hover:scale-105"
>
    <h3 class="border-b border-blue text-2xl text-brightBlue">
        {title}
    </h3>
    <div class="flex flex-col gap-4">
        <slot />
    </div>

    <a {href} class="flex justify-end">
        <Icon
            name="prime:github"
            class="text-2xl transition-all hover:text-purple"
            aria-hidden="true"
        />
        <span class="sr-only">Project Link</span>
    </a>
</div>
